<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PixelPost"
        tools:targetApi="31">
        <activity
            android:name=".View.Activity.Login02Activity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.Login01Activity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.SetUpProfileActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.SignUp02Activity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.SignUp01Activity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.AnimationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activity.ConversationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.ConversationListActivity"
            android:exported="false" />
        <activity
            android:name=".View.Activity.MainActivity"
            android:exported="false" />
    </application>

</manifest>